@font-face {
  font-family: airbnb;
  src: url(AirbnbCerealBlack.ttf);
}

@font-face {
  font-family: airbnblight;
  src: url(AirbnbCerealLight.ttf);
}

@font-face {
  font-family: airbnbbook;
  src: url(AirbnbCerealBook.ttf);
}

@font-face {
  font-family: airbnbmedium;
  src: url(AirbnbCerealMedium.ttf);
}

html {
  font-size: 100%;
}
/* .container-fluid div {
  border: 1px solid black;
} */

.cart-col {
  font-weight: bold;
  text-align: center;
  padding: 18px;
  font-size: 30px;
  font-family: airbnb;
  border-left: 3px outset white;
  border-bottom: 2px outset whitesmoke;
  width: auto;
  max-width: 100%;
  height: auto;
}
.firstColumn {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.fooditem {
  padding-top: 15px;
  text-align: center;
}
.fooditem p {
  font-weight: bold;
  font-size: 30px;
  font-family: airbnbmedium;
}
.gridbackground {
  background-color: lightgrey;
  z-index: -1;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  background-color: transparent;
  padding: 30px;
}

.grid-container div {
  background-color: transparent;
  width: 220px;
  max-width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 10px 10px;
  position: relative;
}

.grid-container div img {
  object-fit: cover;
  width: 220px;
  max-width: 100%;
  height: 170px;
  max-height: 100%;
}

.grid-container div h1 {
  font-size: 23px;
  font-family: airbnbmedium;
  margin-bottom: 0;
}
.grid-container div p {
  font-size: 23px;
  font-weight: bold;
  font-family: airbnb;
}

.home-col {
  font-weight: bold;
}

.home-col img {
  width: auto;
  max-width: 100%;
  padding: 20px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.menu-col {
  border-top: 3px outset white;
  height: auto;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  background-color: white;
  position: relative;
}

.rom {
  padding: 30px;
  position: relative;
}

.rom img {
  width: auto;
  max-width: 100%;
  height: auto;
}
.search img {
  display: block;
  width: auto;
  max-width: 100%;
  height: auto;
  margin: auto;
  padding: 20px;
}

.yourcart-col {
  text-align: center;
  height: auto;
  font-family: airbnbmedium;
  border-left: 2px outset whitesmoke;
  position: relative;
  padding: 40px;
}
.yourcart-col img {
  margin-top: 50px;
  width: 200px;
  height: auto;
}

.grid-container .product-list {
  position: relative;
}
.grid-container div .select-image {
  width: 300px;
  height: 170px;
  border-radius: 10px 10px 0 0;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
}
.grid-container div img .icon-select {
  width: 25px;
  height: 25px;
  position: absolute;
  z-index: 1;
}
/*==============================================*/
/* HOME SELECT*/
/* .yourcart-col div {
  border: 1px solid black;
} */

.thegrid {
  display: grid;
  height: 800px;
}
.gridbox1 {
  display: grid;
  height: 400px;
}
.gridbox2 {
  display: grid;
  height: 400px;
  grid-auto-rows: minmax(25px, auto);
  align-content: end;
}
.emptybox {
  height: 200px;
}
.filledbox {
  display: grid;
  align-content: space-between;
  height: 200px;
}

.orderbox {
  display: grid;
  height: 100px;
  width: 380px;
  grid-template-columns: repeat(3, 1fr);
}

.orderboxes1 {
  width: 100px;
  padding-right: 0px;
  padding-left: 0px;
}

.orderboxes1 img {
  object-fit: cover;
  width: 100%;
  height: 100px;
  overflow: hidden;
  border-radius: 5px;
  margin-top: 0;
}

.orderboxes2 {
  display: grid;
  grid-template-rows: 60% auto;
  grid-auto-rows: minmax(40px, auto);
  width: 150px;
  padding-left: 10px;
}
.orderboxes3 {
  display: grid;
  align-items: end;
  text-align: end;
  width: 130px;
  font-size: 20px;
  font-weight: bold;
}

.orderboxesamount1 {
  display: grid;
  text-align: start;
  font-size: 20px;
  font-weight: bold;
}
.orderboxesamount2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.adder {
  border: 2px solid lightgreen;
  background-color: rgba(130, 222, 58, 0.2);
}
.adder img {
  object-fit: scale-down;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-top: 0;
  padding: 5px;
  padding-top: 8px;
}
.addernumber {
  border: 2px solid lightgreen;
  text-align: center;
  font-size: 25px;
  color: #82de3a;
  height: auto;
}

.totalprice {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: auto;
}
.total {
  text-align: start;
  font-size: 20px;
  font-weight: bold;
  font-family: airbnbmedium;
}
.totalnumber {
  text-align: end;
  font-size: 20px;
  font-weight: bold;
  font-family: airbnbmedium;
}
.ppn {
  height: 20px;
  text-align: start;
  font-family: airbnbmedium;
}

.btn-primary {
  width: 100%;
  background-color: #57cad5;
  border: #57cad5;
  border-radius: 0 0 0 0;
  font-size: 25px;
}

.btn-secondary {
  width: 100%;
  background-color: #f24f8a;
  border: #f24f8a;
  border-radius: 0 0 0 0;
  font-size: 25px;
}

/*==========================================================*/
/* CHECKOUT*/
/* .modal-body div {
  border: 1px solid black;
} */
.boxemp1 {
  display: flex;
  flex-direction: column;
  height: 100px;
  font-family: airbnb;
  font-weight: bold;
}
.boxemp2 {
  display: flex;
  flex-direction: column;
  height: 180px;
  font-family: airbnb;
  font-weight: bold;
}
.boxemp3 {
  display: flex;
  flex-direction: column;
  height: 90px;
  font-family: airbnb;
  font-weight: bold;
}
.boxemp4 {
  display: flex;
  flex-direction: column;
  height: 160px;
  font-family: airbnb;
  font-weight: bold;
}
.boxemp {
  display: flex;
  flex-direction: column;
  height: 530px;
}

.fonts {
  font-family: airbnbmedium;
  font-weight: bold;
}

.container-flex1 {
  display: flex;
  justify-content: space-between;
}

.container-flex1-1 {
  display: flex;
  justify-content: flex-start;
  font-size: 25px;
}

.container-flex1-2 {
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
}

.container-flex2 {
  display: flex;
  justify-content: flex-start;
  font-size: 15px;
}

.container-flex3 {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.container-flex3-1 {
  display: flex;
  justify-content: flex-start;
}
.container-flex3-2 {
  display: flex;
  justify-content: flex-end;
}

.container-flex4 {
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
}

.container-flex5 {
  display: flex;
  justify-content: flex-start;
  font-size: 20px;
}
.container-flex6 {
  display: flex;
  justify-content: center;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.box2 {
  margin-right: 10px;
}
.box5 {
  margin-left: 10px;
}
.box7 {
  margin-left: 10px;
}
.box9 {
  margin-right: 15px;
}
.box12 {
  margin-left: 10px;
}
.buttonprint {
  width: 100%;
  font-size: 25px;
  background-color: #57cad5;
  color: white;
}
.buttonsendemail {
  margin-top: 0;
  width: 100%;
  font-size: 25px;
  background-color: #f24f8a;
  color: white;
}
.buttonsmooth .inputsmooth {
  border-radius: 10px 10px 10px 10px;
}

/*===================================================*/
/*ADD DATA*/
.boxem {
  display: flex;
  flex-direction: column;
  height: 400px;
}

.boxem1 {
  display: flex;
  flex-direction: column;
  height: 100px;
}
.boxem2 {
  display: flex;
  flex-direction: column;
  height: 200px;
}
.boxem3 {
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: flex-end;
}

.container-flexb-1 {
  display: flex;
  justify-content: start;
  font-size: 25px;
}

.container-flexb-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 20px;
  height: 200px;
}
.container-flexb-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 200px;
}
.container-flexb-3 input {
  border: 0px;
}
.container-flexa {
  display: flex;
  flex-direction: row;
}
.container-flexc {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.boxempty1 {
  flex-grow: 1;
  padding-left: 15px;
}

.boxempty2 {
  flex-grow: 2;
}
.boxempty3 {
  display: flex;
  flex-direction: row;
}

.boxempty4 {
  flex-grow: 6;
}
.boxempty5 {
  display: flex;
  flex-direction: row;
}
.boxempty6 {
  flex-grow: 8;
}
.dropdowncategory {
  flex-grow: 1;
  border: none;
}
.inputtext2 {
  flex-grow: 1;
}

.buttonsmooth2 {
  border-radius: 5px 5px 5px 5px;
}

.borders {
  border: 2px solid black;
}

.buttoncancel {
  background-color: #f24f8a;
  color: white;
  width: 100px;
  margin-right: 20px;
}
.buttonadd {
  background-color: #57cad5;
  color: white;
  width: 100px;
}

.boxshadow {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.texts {
  height: 35px;
}

/*==============================================*/
/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1024px) {
  .cart-col {
    font-size: 20px;
    padding: 13px;
  }
  .fooditem p {
    font-size: 20px;
  }
  .grid-container div h1 {
    font-size: 17px;
  }
  .grid-container div p {
    font-size: 17px;
  }

  .grid-container {
    float: none;
    grid-template-columns: auto auto auto;
  }
  .grid-container div {
    width: 150px;
  }
  .grid-container div img {
    object-fit: cover;
    width: 220px;
    max-width: 100%;
    height: 100px;
    max-height: auto;
  }

  .home-col img {
    padding: 12px;
  }

  .rom {
    padding: 20px;
  }

  .search img {
    padding: 12px;
  }
  .yourcart-col h1 {
    font-size: 20px;
  }
  .yourcart-col p {
    font-size: 15px;
  }

  /* ============================ */
  .adder {
    border: 2px solid lightgreen;
  }
  .adder img {
    width: 100%;
    height: auto;

    margin-top: 0;
    padding: 2px;
    /* padding-top: 2px; */
  }
  .addernumber {
    border: 2px solid lightgreen;

    font-size: 18px;

    height: auto;
  }
  .btn-primary {
    width: 100%;

    font-size: 15px;
  }

  .btn-secondary {
    width: 100%;
    font-size: 15px;
  }
  .emptybox {
    height: 50px;
  }
  .filledbox {
    display: grid;
    align-content: space-between;
    height: 150px;
  }
  .gridbox1 {
    display: grid;
    height: 300px;
  }
  .gridbox2 {
    display: grid;
    height: 200px;
    grid-auto-rows: minmax(15px, auto);
    align-content: end;
  }

  .orderbox {
    display: grid;
    height: 20px;
    width: auto;
  }
  .orderboxesamount1 {
    font-size: 12px;
  }
  .orderboxes1 {
    width: 100%;
  }

  .orderboxes1 img {
    object-fit: cover;
    width: 100%;
    max-width: 100%;
    height: 75px;
    overflow: hidden;
  }

  .orderboxes2 {
    display: grid;
    grid-template-rows: 60% auto;
    grid-auto-rows: minmax(10px, auto);
    width: auto;
    padding-left: 5px;
  }
  .orderboxes3 {
    font-size: 15px;
  }
  .ppn {
    height: 15px;
    font-size: 15px;
  }
  .thegrid {
    display: grid;
    height: 500px;
  }
  .total {
    font-size: 15px;
  }
  .totalnumber {
    font-size: 15px;
  }

  .totalprice {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
  }

  .yourcart-col {
    height: auto;

    padding: 20px;
  }
}

/* ================================================================================ */

@media screen and (max-width: 768px) {
  .adder img {
    width: 100%;
    height: auto;

    margin-top: 0;
    padding: 2px;
    /* padding-top: 2px; */
  }
  .fooditem p {
    font-size: 18px;
  }
  .cart-col {
    font-size: 17px;
    padding: 10px;
  }
  .grid-container div h1 {
    font-size: 17px;
  }
  .grid-container div p {
    font-size: 17px;
  }
  .yourcart-col h1 {
    font-size: 15px;
  }
  .yourcart-col p {
    font-size: 10px;
  }

  .grid-container {
    float: none;
    grid-template-columns: auto auto;
  }
  .grid-container div {
    width: 170px;
  }
  .grid-container div img {
    object-fit: cover;
    width: 220px;
    max-width: 100%;
    height: 100px;
    max-height: auto;
  }

  .rom {
    padding: 15px;
  }

  .rom img {
    width: auto;
    max-width: 100%;
    height: auto;
  }
  .home-col img {
    padding: 3px;
  }
  .search img {
    padding: 3px;
  }

  /* ============================ */
  .adder {
    border: 2px solid lightgreen;
  }
  .adder img {
    width: 100%;
    height: auto;

    margin-top: 0;
    padding: 2px;
    /* padding-top: 2px; */
  }
  .addernumber {
    border: 2px solid lightgreen;

    font-size: 16px;

    height: auto;
  }
  .btn-primary {
    width: 100%;

    font-size: 15px;
  }

  .btn-secondary {
    width: 100%;
    font-size: 15px;
  }
  .emptybox {
    height: 125px;
  }
  .filledbox {
    display: grid;
    align-content: space-between;
    height: 125px;
  }
  .gridbox1 {
    display: grid;
    height: 250px;
  }
  .gridbox2 {
    display: grid;
    height: 250px;
    grid-auto-rows: minmax(15px, auto);
    align-content: end;
  }

  .orderbox {
    display: grid;
    height: 18px;
    width: auto;
  }
  .orderboxesamount1 {
    font-size: 12px;
  }
  .orderboxes1 {
    width: 100%;
  }

  .orderboxes1 img {
    object-fit: cover;
    width: 100%;
    max-width: 100%;
    height: 70px;
    overflow: hidden;
  }

  .orderboxes2 {
    display: grid;
    grid-template-rows: 60% auto;
    grid-auto-rows: minmax(10px, auto);
    width: 80px;
    padding-left: 5px;
  }
  .orderboxes3 {
    font-size: 12px;
    width: 70px;
  }
  .ppn {
    height: 15px;
    font-size: 12px;
  }
  .thegrid {
    display: grid;
    height: 500px;
  }
  .total {
    font-size: 12px;
  }
  .totalnumber {
    font-size: 12px;
  }

  .totalprice {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
  }

  .yourcart-col {
    height: auto;

    padding: 15px;
  }
}
